#langchain==0.0.284
langchain
#python-dotenv==1.0.0
python-dotenv
#streamlit==1.22.0
#tiktoken==0.4.0
tiktoken
#faiss-cpu==1.7.4
faiss-cpu
#protobuf~=3.19.0
langchain_experimental
mysql-connector-python
pymysql
sentence-transformers
chromadb
google-generativeai
streamlit